body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}

/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  filter: drop-shadow(0 0 10px white);
}





.title{
  font-family: monospace;
  text-align: center;
  margin-top: 5%;
  font-size: 2vw;
}


.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  filter: drop-shadow(0 0 10px white);
}

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}




.contact {
  font-family: monospace;
  margin-top: 5%; 
  margin-left: 5%; 
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact a {
  font-family: monospace;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 2px; 
}


.contact a:hover {
  filter: drop-shadow(0 0 10px white);
}



p {
  font-family: monospace;
  font-size: 16px;
  text-align: left; 
}

p1 {
  font-size: 12px;
  font-style: italic;
  text-align: left; 
}



.intro {
  display: flex;
  justify-content: center;
  padding-bottom: 60px; 
  margin-top: 20px;
}

.photo {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.text {
  width: 20%; 
  text-align: left; 
  font-family: monospace;
}

.photo img,
.text {
  max-width: 100%;
}

.intro {
  flex-direction: row; 
}




.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  font-family: monospace;
  display: none;
  position: fixed;
  top: 60px; 
  right: 0;
  background-color: #191716;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; 

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.menu a:hover {
  filter: drop-shadow(0 0 10px white);
}



@media only screen and (max-width: 767px) {

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    width: 100%; 
  }
  
  .photo {
    width: 200%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: auto; 
  }
  
  .photo img {
    width: 100%; 
  }
  
  .contact {
    margin-left: -1%;
    text-align: right;
  }
  
  .text {
    grid-column: span 2;
    padding: 10px;
    margin-left: 3%;
    width: 80%;
  }
  


  .nav a {
    font-size: 10px;
  }

  .bottom-nav a {
    font-size: 10px;
  }
  .copyright a {
    font-size: 10px;
  }
  
}



