body
{
    background-color: #191716;
    color: white; 
    justify-content: center;
    overflow-x: hidden;

}


p {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}


/* logo */

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  opacity: 0.2; /* 20% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 130%;
  max-height: 130%;
  opacity: 1; /* Make sure the image itself is fully opaque */
}



/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  filter: drop-shadow(0 0 10px white);
}





/* about, resume */

.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  filter: drop-shadow(0 0 10px white);
}





/* copyright */

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}




/* works */

.title{
  font-family: monospace;
  text-align: center;
  margin-top: 5%;
  font-size: 2vw;
}

.works {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}



.heading{
  margin: 1%;
}
.heading p {
  font-family: monospace;
  font-style: italic;
}



.caption {
  width: 70%; 
  margin: 0 auto; 
}

.caption p {
  font-family: monospace;
  width: 100%; 
  font-size: 14px;
}


img{
  width: 40%;
}







/* general art */

.polaris {
max-width: 100%;
transform: rotate(-5deg);
}

.polaris img{
margin-top: -50%;
margin-left: 55%;
width: 60%;
}



.homebody{
max-width: 100%;
transform: rotate(-10deg);
}

.homebody img{
margin-top: -25%;
margin-bottom: 10%;
margin-left: -70%;
width: 80%;
}



.wildcard{
max-width: 100%;
}

.wildcard img{
padding: 5%;
margin-top: -5%;
margin-left: -5%;
width: 80%;
}

.riot-grrrl {
max-width: 100%;
transform: rotate(5deg);
}

.riot-grrrl img{
width: 45%;
margin-left: -60%;
margin-top: -5%;
}

.fmn {
max-width: 100%;
}

.fmn img{
width: 70%;
margin-left: 50%;
margin-top: -60%;
margin-bottom: 5%;
}

.pttr {
max-width: 100%;
}

.pttr img{
width: 90%;
margin-top: 5%;
margin-left: -65%;
}

.zineify {
max-width: 100%;
}

.zineify img{
width: 85%;
margin-top: -50%;
margin-bottom: 60%;
margin-left: 45%;
padding: 2%;
}

.photos {
max-width: 100%;
}

.photos img{
width: 65%;
margin-top: -100%;
margin-bottom: 0%;
margin-left: -75%;
}

.bluenar {
max-width: 100%;
transform: rotate(20deg);
}

.bluenar img{
width: 75%;
margin-top: -75%;
margin-bottom: 100%;
margin-left: 25%;
}


.heartrot {
max-width: 100%;
transform: rotate(15deg);
}

.heartrot img{
width: 75%;
margin-top: -80%;
margin-left: -100%;
}

.fine-arts {
max-width: 100%;
}

.fine-arts img{
padding: 2%;
width: 60%;
margin-top: -90%;
margin-bottom: 20%;
margin-left: 50%;
}





.pttr img,
.polaris img,
.homebody img,
.riot-grrrl img,
.wildcard img,
.heartrot img,
.fmn img,
.zineify img,
.photos img,
.fine-arts img,
.lesmiss img
.bluenar img {
  transition: filter 0.3s ease-in-out;
}



.pttr img:hover,
.polaris img:hover,
.homebody img:hover,
.riot-grrrl img:hover,
.wildcard img:hover,
.heartrot img:hover,
.fmn img:hover,
.zineify img:hover,
.photos img:hover,
.fine-arts img:hover,
.lesmiss img:hover, 
.bluenar img:hover {
  filter: drop-shadow(0 0 10px white);
}







/* phone media queries */


@media only screen and (max-width: 567px) {
  .works {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 10px; /* Adds spacing between items */
    width: 100%;
    margin: 0 auto; /* Center align the grid */
  }

  .works img {
    width: 100%; /* Ensure images take full width of the column */
    margin: 0 auto; /* Center align images */
  }

  .nav a, 
  .bottom-nav a, 
  .copyright a {
    font-size: 8px; /* Adjust font size for smaller screens */
  }
}



