
body
{
    background-color: #191716;
    color: white; 
    justify-content: center;
}




/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  filter: drop-shadow(0 0 10px white);
}





/* dropdown menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  font-family: monospace;
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; 
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; 

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}


.menu a:hover {
  filter: drop-shadow(0 0 10px white);
}

/* about, resume */

.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  filter: drop-shadow(0 0 10px white);
}


/* copyright */

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}





/* logo */

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  opacity: 0.2;  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 130%;
  max-height: 130%;
  opacity: 1; /* Make sure the image itself is fully opaque */
}





/* menu for art */


.photo-guide {
  display: flex;
  height: 100%; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.photo-guide p{
  font-family: monospace;
}

.photo-guide h1{
  font-family: monospace;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(1fr); 
  gap: 10px;
  padding: 10px;
  margin: 0 auto; 
  text-align: center;
}


.grid-item img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-link img {
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-link img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px white);
}



/* text in photo guide */


.photo-guide p {
  font-size: 18px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
}

.mySlides {
  display: none;
  width: 100%;
}

.slideshow-container img {
  width: 40vw;
  height: 40vw;
}

.type{
/* margin-right: 70%; */
}

.fashion{
/* margin-left: 50%; */
}

.photo{
margin-top: -30%;
}

.fine-arts{

}




@media only screen and (max-width: 539px) {
  /* Adjust styles for iPhones or smaller screens */
  body {
    font-size: 14px;
  }

  

/* banner */


  .nav a {
    font-size: 10px;
  }

  .bottom-nav a {
    font-size: 10px;
  }
  .copyright a {
    font-size: 10px;
  }

  .photo-guide {
  margin-top: 5%;
  }

  .photo-guide h1{
    font-size: 30px;
  }

}
