body
{
    background-color: #191716;
    color: white; 
    justify-content: center;
    overflow-x: hidden;

}


p {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}


/* logo */

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  opacity: 0.2; /* 20% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 130%;
  max-height: 130%;
  opacity: 1; /* Make sure the image itself is fully opaque */
}



/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  filter: drop-shadow(0 0 10px white);
}





/* dropdown menu */
.hamburger-menu {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  font-family: monospace;
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; 
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; 

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}


.menu a:hover {
  filter: drop-shadow(0 0 10px white);
}

/* about, resume */

.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  filter: drop-shadow(0 0 10px white);
}


/* copyright */

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}


/* works */

.title{
  font-family: monospace;
  text-align: center;
  margin-top: 5%;
  font-size: 2vw;
}

.works {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}



.heading{
  margin: 1%;
}
.heading p {
  font-family: monospace;
  font-style: italic;
}



.caption {
  width: 70%; 
  margin: 0 auto; 
}

.caption p {
  font-family: monospace;
  width: 100%; 
  font-size: 14px;
}


img{
  width: 40%;
}






/* general art */

.butterfly{
  width: 120%;
}

.butterfly img{
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 40%;
  margin-bottom: 30%;
  max-width: 100%;
  max-height: 100%;
}



.heart-break{
  width: 80%;
}

.heart-break img{
  margin-left: 15%;
  margin-top: -75%;
  margin-bottom: 23%;
  margin-right: -70%;
  max-width: 100%;
  max-height: 100%;
}

.star{
  width: 110%;
}

.star img{
  margin-right: 50%;
  margin-bottom: 18%;
  margin-top: -75%;
  max-width: 100%;
  max-height: 100%;
  z-index: 10;
}

.earrings{
  width: 70%;
}


.earrings img{
  margin-left: 5%;
  margin-top: -40%;
  margin-right: 90%;
  margin-left: -5%;
  max-width: 100%;
  max-height: 100%;
}

.wings{
  width: 150%;
}

.wings img{
  margin-left: 5%;
  margin-top: -35%;
  max-width: 100%;
  max-height: 100%;
}

.chains img{
  margin-right: 15%;
  margin-top: -85%;
  margin-right: 10%;
  max-width: 100%;
  max-height: 100%;
}




.butterfly img,
.heart-break img,
.star img,
.earrings img,
.wings img,
.chains img {
  transition: filter 0.3s ease-in-out;
}

.butterfly img:hover,
.heart-break img:hover,
.star img:hover,
.earrings img:hover,
.wings img:hover,
.chains img:hover {
  filter: drop-shadow(0 0 10px white);
}






/* phone media queries */


@media only screen and (max-width: 767px), (max-device-width: 767px) {
  .works {
    width: 100%;
  }

  .img{
    width: 70%;
  }

  
  .caption {
    margin: 0 auto;
    text-align: center;
  }
  
  .heading{
    margin: 2%;
  }

  .heading p {
    margin: 10%;
    display: inline;
  }



.title h1{
padding-top: 10%;
font-size: 5vw;
}



.nav a {
  font-size: 10px;
}

.bottom-nav a {
  font-size: 10px;
}
.copyright a {
  font-size: 10px;
}


  }


