body
{
    background-color: #191716;
    color: white; 
    justify-content: center;
    overflow-x: hidden;

}


p {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}


/* logo */

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  opacity: 0.2; /* 20% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.logo img {
  width: auto;
  height: auto;
  max-width: 130%;
  max-height: 130%;
  opacity: 1; /* Make sure the image itself is fully opaque */
}



/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  color: red; 
}





/* dropdown menu */
.hamburger-menu {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  font-family: monospace;
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; 
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; 

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}


.menu a:hover {
  color: red; 
}

/* about, resume */

.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: red;
}


/* copyright */

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}


/* works */

.title{
  font-family: monospace;
  text-align: center;
  margin-top: 5%;
  font-size: 2vw;
}

.works {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}



.heading{
  margin: 1%;
}
.heading p {
  font-family: monospace;
  font-style: italic;
}



.caption {
  width: 70%; 
  margin: 0 auto; 
}

.caption p {
  font-family: monospace;
  width: 100%; 
  font-size: 14px;
}


img{
  width: 40%;
}






/* general art */

.butterfly{
  position: relative;
  width: 110%;
}

.butterfly img{
  margin-top: -29%;
  margin-right: 40%;
  margin-bottom: 30%;
  max-width: 100%;
  max-height: 100%;
}

.swan {
}


.swan img{
  max-width: 100%;
  margin-right: 50%;
  margin-top: 15%;
}

.self-portrait {
}

.self-portrait img{
  max-width: 100%;
  margin-left: 40%;
  margin-top: -45%;
  margin-bottom: 10%;
}

.light {
  width: 80%;
}

.light img{
  max-width: 100%;
  margin-right: 80%;
  margin-left: -10%;
  margin-top: 0%;
}

.bees {
  width: 90%;
}

.bees img{
  max-width: 100%;
  margin-top: -80%;
  margin-bottom: 7%;
  margin-left: 10%;
}


.guggenheim {
  width: 80%;
}

.guggenheim img{
  max-width: 100%;
  margin-top: -80%;
  margin-bottom: 5%;
  margin-left: 95%;
}


.castle {
  width: 80%;
}

.castle img{
  max-width: 100%;
  margin-right: 70%;
  margin-left: -10%;
}


.grandparents {
}

.grandparents img{
  max-width: 100%;
  margin-top: -60%;
  margin-bottom: 10%;
}

.body {
  width: 60%;
}

.body img{
  max-width: 100%;
  margin-bottom: 20%;
  margin-top: -60%;
  margin-left: 90%;
  margin-right: -100%;

}

.sister {
  width: 70%;
}

.sister img{
  max-width: 100%;
  margin-right: 70%;
  margin-top: -5%;
}

.fish {
  width: 70%;
}

.fish img{
  max-width: 100%;
  margin-left: 40%;
  margin-top: -65%;
  margin-bottom: 10%;
}



.flower-woman {
  width: 80%;
}

.flower-woman img{
  max-width: 100%;
  margin-top: -80%;
  margin-left: 85%;
  margin-bottom: 20%;
}

.secrets {
  width: 80%;
}

.secrets img{
  max-width: 100%;
  margin-left: 20%;
  margin-top: -5%;
}


.class {
  width: 85%;
}

.class img{
  max-width: 100%;
  margin-top: -35%;
  margin-left: 80%;
}









.swan img,
.self-portrait img,
.light img,
.bees img,
.guggenheim img,
.castle img,
.grandparents img,
.body img,
.sister img,
.fish img,
.flower-woman img,
.secrets img,
.class img {
  transition: filter 0.3s ease-in-out;
}

.swan img:hover,
.self-portrait img:hover,
.light img:hover,
.bees img:hover,
.guggenheim img:hover,
.castle img:hover,
.grandparents img:hover,
.body img:hover,
.sister img:hover,
.fish img:hover,
.flower-woman img:hover,
.secrets img:hover,
.class img:hover {
  filter: drop-shadow(0 0 10px white);
}






/* phone media queries */


@media only screen and (max-width: 767px), (max-device-width: 767px) {
  .works {
    width: 100%;
  }

  .img{
    width: 70%;
  }

  
  .caption {
    margin: 0 auto;
    text-align: center;
  }
  
  .heading{
    margin: 2%;
  }

  .heading p {
    margin: 10%;
    display: inline;
  }



.title h1{
padding-top: 10%;
font-size: 5vw;
}



.nav a {
  font-size: 10px;
}

.bottom-nav a {
  font-size: 10px;
}
.copyright a {
  font-size: 10px;
}


  }


