body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}


p {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}



/* sara, NYC, email */
.nav {
  font-family: monospace;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  color: red; 
}





/* dropdown menu */
.hamburger-menu {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  font-family: monospace;
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; 
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; 

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}


.menu a:hover {
  color: red; 
}

/* about, resume */

.bottom-nav {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: red;
}


/* copyright */

.copyright {
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}


/* works */

.title{
  font-family: monospace;
  font-style: italic;
  text-align: center;
  margin-top: 10%;
  font-size: 2vw;
}

.works {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}



.heading{
  margin: 1%;
}
.heading p {
  font-family: monospace;
  font-style: italic;
}



.caption {
  width: 70%; 
  margin: 0 auto; 
}

.caption p {
  font-family: monospace;
  width: 100%; 
  font-size: 14px;
}


img{
  width: 40%;
}







/* photography */


.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; 
  padding: 20px; 
  margin-bottom: 10%;
}


.photo-grid .works{
  width: 50%;
}

.grid-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1.6;

}

.film {
  width: 100%; 
}

.film .heading p{
  font-family: monospace;
  margin: 17%;
  display: inline;
}

video {
  width: 70%;
  height: 50%;
  object-fit: cover; 
}





/* interaction */

.interactive-quote p{
  font-family: monospace;
  font-style: italic;
  font-size: smaller;
  text-align: left;
  margin: 0 auto;
  width: 40%;
}

iframe {
  width: 100%;
  border: none;
  display: block;
  margin: auto;
  padding-top: 10px;
}




/* typography */

/* music club */
.music-club img{
    height: 200px; 
    width: 280px; 
  }
.music-club {
  font-style: italic;
}




/* slideshow */


.slideshow-container, .slideshow-container2 {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
}

.mySlides, .mySlides2 {
  display: none;
}









/* general art */


.heart-rot{
  margin-top: 10%;
  margin-bottom: 10%;
  }

  .heart-rot img {
    width: 30%;
    height: 40%; /* Set the desired height for a 3:4 aspect ratio */
    object-fit: cover; /* Crop the image to cover the container */
    margin: 0 auto;
  }


.homebody{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .homebody img {
    width: 60%;
    height: 40%; /* Set the desired height for a 3:4 aspect ratio */
  }

.one{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .two{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  
  .three{
  margin-top: 10%;
  margin-bottom: 10%;
  }
    
  .four{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  

  .cyborg{
  margin-top: 10%;
  margin-bottom: 10%;
  }

  .cyborg img{
    width: 50%;
    }
  
  .five{
  margin-top: 10%;
  margin-bottom: 10%;
  }
    
  .six{
  margin-top: 10%;
  margin-bottom: 10%;
  }
       
  .seven{
  margin-top: 10%;
  margin-bottom: 10%;
  }

  .seven img{
    width: 60%;
  }

  
  .eight{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .nine{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .ten{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  .eleven{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .twelve{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .twelve img{
  width: 30%;
  }
  
  .thirteen{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .gif{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  



















/* phone media queries */


@media only screen and (max-width: 767px), (max-device-width: 767px) {
  .works {
    width: 100%;
  }

  .img{
    width: 70%;
  }

  .interactive-quote p {
    width: 90%;
  }

  .caption {
    margin: 0 auto;
    text-align: center;
  }
  
  .heading{
    margin: 2%;
  }

  .heading p {
    margin: 10%;
    display: inline;
  }



  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    padding: 20px; 
    margin-bottom: 10%;
  }

.title h1{
padding-top: 10%;
font-size: 5vw;
}



.nav a {
  font-size: 10px;
}

.bottom-nav a {
  font-size: 10px;
}
.copyright a {
  font-size: 10px;
}


  }





/* banner */

.banner {
  position: relative;
  padding-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
}

.photo img {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

.photo:hover img {
  visibility: hidden; /* Hides the image when .photo is hovered */
}

.photo::before {
  content: '';
  position: absolute;
  top: 0;
  width: 500px;
  height: 500px;
  background-image: url('images/logo2.png'); /* Default image */
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo:hover::before {
  opacity: 1;
}
